body {
	background:#fff url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-136797.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #023258;
	font: 300 24px/32px 'Open Sans', sans-serif;
}

p {
	font: 300 24px/32px 'Open Sans', sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
}
h1,h2,h3 {
	font-weight: 300;
	line-height: 1.1em;
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
}

#container {
	display: block;
	width: 60%;
	margin: 40px auto 0 auto;
	padding: 45px;
	background: rgba(255,255,255,.5);
	box-shadow: 0 1px 3px rgba(13, 71, 161, 0.5);
    border-radius: 3px;
}
#container h1 {
	text-align: center;
	padding: 0;
	margin: 0;
}
#container form {
	display: block;
	width: 80%;
	margin: 50px auto 15px auto;
}
#container form .row {
	display: block;
	width: 100%;
	margin:10px 0;
}
#container form input[type="text"] {
    width: 94%;
    padding: 10px 15px;
    height: 30px;
    margin: 0;
    border:1px solid #fff;
    border-radius: 3px;
    outline-color: #2196F3;
    font: 300 20px/26px 'Open Sans', sans-serif;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 1px 3px rgba(13, 71, 161, 0.5);
}
#container form input[type="text"]:disabled {
    color: #CECECE;
    background: #fff;
}
#container form input[type="text"]:disabled:hover {
    cursor: not-allowed;
}

#container form .row:nth-child(2) {
	display: block;
	width: 138px;
	margin: 20px auto;
}
#container form input[type="submit"] {
	padding: 15px 25px;
	border:0;
	background: #2196F3;
	color: #fff;
	font: 300 16px/20px 'Open Sans', sans-serif;
	text-shadow:0 1px 0 rgba(10,10,10,0.5);
	-webkit-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
	cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 3px #0D47A1;
}
#container form input[type="submit"]:hover, #container form input[type="submit"]:active {
	background: #0D47A1;
}

#container #result {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}
#container #result h2, #container #result p {
	margin: 0;
	padding: 0;
}
#container #result h2.percent {
    display: block;
    margin: 10px auto;
    width: 130px;
    height: 130px;
    padding: 0;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(6, 33, 74, 0.62);
    overflow: hidden;
    position: relative;
}
#container #result h2.percent .liquid {
	display: block;
	width: 130px;
	height: 131px;
	position: absolute;
	bottom: -131px;
	left: 0;
	background:rgba(221, 0, 0, 0.82);
	/*background:rgba(255, 214, 0, 0.77);*/
	/*background:rgba(100, 221, 23, 0.65);*/
	z-index:100;
	-webkit-transition: background 1.5s;
	-o-transition: background 1.5s;
	transition: background 1.5s;
}
#container #result h2.percent span {
	display: block;
	width: 132px;
	margin:0 auto;
	padding: 40px 0 0 0;
	text-align: center;
	z-index: 150;
	position: absolute;
}

.switch {
	display: block;
	width: 15px;
	height: 15px;
	background: #00B8D4;
	position: absolute;
	top: 40px;
	right: 15px;
	border-radius: 100%;
	box-shadow: 0 1px 1px #01579B;
	cursor: pointer;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}
.switch.back {
	right:35px;
}
.switch:hover {
	background: #01579B;
}